<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_dark_cloud2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,396},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,396},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,116},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,116},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,4},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,4},{78,106}}</string>
                <key>offset</key>
                <string>{74,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,432},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,414},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,396},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,198},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,180},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_dark_cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,162},{330,12}}</string>
                <key>offset</key>
                <string>{75,-2}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_sky_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,314},{480,76}}</string>
                <key>offset</key>
                <string>{0,122}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_volcano.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{330,152}}</string>
                <key>offset</key>
                <string>{75,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_volcano_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,228},{480,80}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>opening_ending_01.png</string>
        </dict>
    </dict>
</plist>
