<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ed_castle.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,4},{330,222}}</string>
                <key>offset</key>
                <string>{75,-49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ed_eft_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,330},{152,152}}</string>
                <key>offset</key>
                <string>{80,-48}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{8,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{8,320}</string>
            </dict>
            <key>title_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,182},{154,96}}</string>
                <key>offset</key>
                <string>{-105,-47}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,78},{154,98}}</string>
                <key>offset</key>
                <string>{135,-7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_cloud_bottom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,322},{292,132}}</string>
                <key>offset</key>
                <string>{-94,-94}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_cloud_bottom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,4},{320,96}}</string>
                <key>offset</key>
                <string>{80,-112}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_lightning_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,308},{48,96}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_lightning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,232},{60,86}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,106},{480,98}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,250},{106,28}}</string>
                <key>offset</key>
                <string>{75,146}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,410},{206,44}}</string>
                <key>offset</key>
                <string>{25,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,460},{312,44}}</string>
                <key>offset</key>
                <string>{-84,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,488},{170,20}}</string>
                <key>offset</key>
                <string>{-155,115}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,210},{50,14}}</string>
                <key>offset</key>
                <string>{-215,112}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,308},{2,6}}</string>
                <key>offset</key>
                <string>{-239,157}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,284},{100,42}}</string>
                <key>offset</key>
                <string>{190,116}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,232},{236,84}}</string>
                <key>offset</key>
                <string>{122,96}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,232},{386,70}}</string>
                <key>offset</key>
                <string>{-47,65}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,460},{180,22}}</string>
                <key>offset</key>
                <string>{-150,41}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,210},{68,14}}</string>
                <key>offset</key>
                <string>{-206,37}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,308},{2,6}}</string>
                <key>offset</key>
                <string>{-239,157}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,210},{108,34}}</string>
                <key>offset</key>
                <string>{149,143}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,4},{256,68}}</string>
                <key>offset</key>
                <string>{75,126}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,372},{222,52}}</string>
                <key>offset</key>
                <string>{-23,87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,308},{230,58}}</string>
                <key>offset</key>
                <string>{-125,84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,488},{198,20}}</string>
                <key>offset</key>
                <string>{-141,65}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_wind_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,308},{2,6}}</string>
                <key>offset</key>
                <string>{-239,157}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>opening_ending_02.png</string>
        </dict>
    </dict>
</plist>
