<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>tree_a_01.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_a_02.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>81</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-23</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_a_03.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>31</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_a_04.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>77.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_b_01.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>178</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_b_02.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-54</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_b_03.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-26.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_b_04.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_c_01.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>189</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-86</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_c_02.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-67.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_c_03.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>tree_c_04.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>wood_l.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>wood_r.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-64</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>