<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fist_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,250},{52,52}}</string>
                <key>offset</key>
                <string>{42,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_fist_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,250},{52,52}}</string>
                <key>offset</key>
                <string>{42,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_fist_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,250},{52,52}}</string>
                <key>offset</key>
                <string>{42,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_heal_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,250},{52,52}}</string>
                <key>offset</key>
                <string>{119,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_heal_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{52,52}}</string>
                <key>offset</key>
                <string>{119,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_heal_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{52,52}}</string>
                <key>offset</key>
                <string>{119,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,238},{110,46}}</string>
                <key>offset</key>
                <string>{-175,-132}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,212},{110,46}}</string>
                <key>offset</key>
                <string>{-175,-132}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,198},{110,46}}</string>
                <key>offset</key>
                <string>{-61,-132}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{110,46}}</string>
                <key>offset</key>
                <string>{-61,-132}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_turnundead_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,250},{52,52}}</string>
                <key>offset</key>
                <string>{193,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_turnundead_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{52,52}}</string>
                <key>offset</key>
                <string>{193,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_turnundead_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,136},{52,52}}</string>
                <key>offset</key>
                <string>{193,-129}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gauge_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,13},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>gauge_icon_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,194},{38,38}}</string>
                <key>offset</key>
                <string>{-220,-36}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gauge_icon_mana.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,238},{32,36}}</string>
                <key>offset</key>
                <string>{221,-36}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gauge_mana.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,13},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>radar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,194},{210,12}}</string>
                <key>offset</key>
                <string>{5,149}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>radar_point_animal.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,13},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>radar_point_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>radar_point_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>ui_game_dashboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,128}}</string>
                <key>offset</key>
                <string>{0,-96}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{414,16}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_macebtn_case.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{236,34}}</string>
                <key>offset</key>
                <string>{115,-142}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ui_gameplay.png</string>
        </dict>
    </dict>
</plist>
