<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_campaign_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,424},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>btn_campaign_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>btn_survival_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,160},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>btn_survival_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>btn_survival_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,78},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{139,78}</string>
            </dict>
            <key>hero_darkdog_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,242},{116,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>hero_darkdog_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,272},{128,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>hero_paladog_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,242},{116,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>hero_paladog_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{128,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>modeselect_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,184}}</string>
                <key>offset</key>
                <string>{-108,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>txt_heroselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,40},{216,34}}</string>
                <key>offset</key>
                <string>{-106,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>txt_modeselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{228,34}}</string>
                <key>offset</key>
                <string>{-106,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>option_msg_02.png</string>
        </dict>
    </dict>
</plist>
