<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,47},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>gameplay_option_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>gp_option_btn_quit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,86},{154,42}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gp_option_btn_quit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,86},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
            <key>gp_option_btn_resume_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,43},{154,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gp_option_btn_resume_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
            <key>msg_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{160,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,128}</string>
            <key>textureFileName</key>
            <string>game_option.png</string>
        </dict>
    </dict>
</plist>
