<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,83},{78,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,81},{80,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{78,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,241},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,243},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,221},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,163},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,301},{62,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mace_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,159},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_mineral_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,83},{76,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_more_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,141},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_rebirth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,83},{80,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{76,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,239},{76,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,153},{76,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,159},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,243},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_ring_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_skill_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,83},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
