<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_unit_00_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_00_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_00_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_01_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,410},{100,100}}</string>
                <key>offset</key>
                <string>{-306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_01_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{100,100}}</string>
                <key>offset</key>
                <string>{-306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_01_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{100,100}}</string>
                <key>offset</key>
                <string>{-306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_02_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_02_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_02_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,410},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_03_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_03_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_03_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_unit_04_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,100}}</string>
                <key>offset</key>
                <string>{102,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_04_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,410},{100,100}}</string>
                <key>offset</key>
                <string>{102,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_04_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,308},{100,100}}</string>
                <key>offset</key>
                <string>{102,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_05_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_05_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_05_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_06_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,410},{100,100}}</string>
                <key>offset</key>
                <string>{204,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_06_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{100,100}}</string>
                <key>offset</key>
                <string>{204,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_06_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{204,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_07_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_07_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_07_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,100}}</string>
                <key>offset</key>
                <string>{306,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_08_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,100}}</string>
                <key>offset</key>
                <string>{408,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_08_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,100}}</string>
                <key>offset</key>
                <string>{408,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_08_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{408,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{-408,-156}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>btn_unit-hd.png</string>
        </dict>
    </dict>
</plist>
