<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_explosion_a_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,196},{17,21}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,199},{23,25}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,278},{29,31}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,470},{35,37}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,428},{37,41}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,368},{39,45}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,320},{43,47}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,240},{45,51}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{45,51}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,270},{41,51}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,378},{35,31}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,470},{37,35}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,371},{35,29}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,401},{31,25}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_a_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,230},{27,21}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_b_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,292},{44,27}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,378},{54,49}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,208},{64,61}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{78,55}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,124},{86,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,54},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,38},{88,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,124},{86,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,54},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,38},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,138},{68,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,57},{80,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,199},{64,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,54},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_b_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,143},{86,55}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_explosion_s_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,208},{27,21}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,322},{39,39}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,192},{47,47}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,278},{53,49}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,293},{59,61}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{61,71}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,196},{65,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{63,79}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{59,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,184},{61,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,428},{49,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,432},{49,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,432},{55,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,432},{55,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_explosion_s_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,140},{63,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_stun_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,407},{58,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,276},{60,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,270},{60,24}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,396},{58,24}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,355},{58,26}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,301},{58,26}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,344},{58,26}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{58,26}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,266},{60,26}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,224},{60,26}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,251},{60,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,382},{58,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,353},{58,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,292},{60,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{58,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>eff_stun_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{58,24}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>hero_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{180,36}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>eff_normal_01.png</string>
        </dict>
    </dict>
</plist>
