<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e21_att_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,367},{42,64}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,249},{44,64}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,186},{46,62}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{46,60}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,115},{48,58}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{48,56}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{46,64}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,300},{42,60}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,399},{40,64}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_att_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,304},{36,64}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,361},{40,64}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,304},{40,64}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,314},{42,64}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,239},{44,60}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,82},{50,58}}</string>
                <key>offset</key>
                <string>{11,39}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{56,52}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{60,44}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{64,34}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,35},{62,46}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,68},{52,52}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,80},{60,34}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,45},{62,34}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{64,34}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,34}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,35},{64,32}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,35},{64,32}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,334},{40,64}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,241},{42,62}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{44,60}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{44,62}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,141},{46,62}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,121},{46,64}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,115},{46,64}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,204},{44,64}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,174},{44,64}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,269},{42,64}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,432},{40,64}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>e21_walk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{40,64}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>e21_01.png</string>
        </dict>
    </dict>
</plist>
