<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_service_info_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{42,42}}</string>
                <key>offset</key>
                <string>{175,139}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_service_info_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1},{40,40}}</string>
                <key>offset</key>
                <string>{175,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{128,64}</string>
            <key>textureFileName</key>
            <string>btn_service_info.png</string>
        </dict>
    </dict>
</plist>
