<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e07_att_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{50,66}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{50,68}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,141},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,135},{48,66}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,135},{46,66}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1},{46,66}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,68},{50,66}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,68},{46,66}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,68},{64,66}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,139},{96,66}}</string>
                <key>offset</key>
                <string>{-23,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,72},{112,66}}</string>
                <key>offset</key>
                <string>{-32,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{102,66}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,70}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1},{60,66}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_att_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,135},{50,66}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{52,66}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,68},{52,66}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{54,68}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,135},{54,66}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,68},{62,62}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1},{60,56}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,206},{62,48}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,202},{68,52}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,202},{60,52}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1},{50,58}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,205},{70,34}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,131},{70,38}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{70,42}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,202},{70,46}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,210},{72,38}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>e07_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,170},{70,34}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>mummy.png</string>
        </dict>
    </dict>
</plist>
