<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cat_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,258},{80,80}}</string>
                <key>offset</key>
                <string>{194,-24}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_cat_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,182},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>msg_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,154},{92,26}}</string>
                <key>offset</key>
                <string>{-148,85}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_2010_fazecat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{338,22}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_btn_facebooklike_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,340},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>title_btn_facebooklike_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,295},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>title_btn_info_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>title_btn_info_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>title_btn_newgame_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,200},{204,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{204,139}</string>
            </dict>
            <key>title_btn_newgame_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{204,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{204,139}</string>
            </dict>
            <key>title_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{474,126}</string>
            </dict>
            <key>title_logo_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,130},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>title_logo_gloss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,295},{54,66}}</string>
                <key>offset</key>
                <string>{-64,83}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,414},{54,56}}</string>
                <key>offset</key>
                <string>{-37,80}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,439},{48,60}}</string>
                <key>offset</key>
                <string>{9,82}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,363},{54,60}}</string>
                <key>offset</key>
                <string>{44,86}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,439},{48,62}}</string>
                <key>offset</key>
                <string>{90,86}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,425},{52,58}}</string>
                <key>offset</key>
                <string>{137,83}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_gloss_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,369},{64,68}}</string>
                <key>offset</key>
                <string>{194,82}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,32},{12,14}}</string>
                <key>offset</key>
                <string>{-107,145}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{-107,145}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{24,28}}</string>
                <key>offset</key>
                <string>{-107,145}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{-107,145}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,32},{12,14}}</string>
                <key>offset</key>
                <string>{20,125}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{20,125}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{24,28}}</string>
                <key>offset</key>
                <string>{20,125}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{20,125}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,32},{12,14}}</string>
                <key>offset</key>
                <string>{223,32}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{223,32}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{24,28}}</string>
                <key>offset</key>
                <string>{223,32}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>title_logo_twinkle3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,32},{16,20}}</string>
                <key>offset</key>
                <string>{223,32}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>opening_ending_03.png</string>
        </dict>
    </dict>
</plist>
