<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>m01_attack_0001.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0002.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0003.png</key>
		<dict>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>21.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0004.png</key>
		<dict>
			<key>x</key>
			<integer>372</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>44</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>43</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0006.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>40.5</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0007.png</key>
		<dict>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>39.5</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0008.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>38</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0009.png</key>
		<dict>
			<key>x</key>
			<integer>451</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>37</real>
			<key>offsetY</key>
			<real>-27.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_attack_0010.png</key>
		<dict>
			<key>x</key>
			<integer>249</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>35</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0001.png</key>
		<dict>
			<key>x</key>
			<integer>449</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>36.5</real>
			<key>offsetY</key>
			<real>-18.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0002.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>33</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0003.png</key>
		<dict>
			<key>x</key>
			<integer>411</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>29</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0004.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>26</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0005.png</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>25</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>24</real>
			<key>offsetY</key>
			<real>15</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0007.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>21.5</real>
			<key>offsetY</key>
			<real>24.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0008.png</key>
		<dict>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>19</real>
			<key>offsetY</key>
			<real>31.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0009.png</key>
		<dict>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>16.5</real>
			<key>offsetY</key>
			<real>34</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0010.png</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>17</real>
			<key>offsetY</key>
			<real>28</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0011.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>14</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0012.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0013.png</key>
		<dict>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>-26.5</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0014.png</key>
		<dict>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>-42.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0015.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0016.png</key>
		<dict>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-31.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0017.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-33.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0018.png</key>
		<dict>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0019.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-46.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_dead_0020.png</key>
		<dict>
			<key>x</key>
			<integer>309</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>-49.5</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0001.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>52.5</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0002.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>52.5</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0003.png</key>
		<dict>
			<key>x</key>
			<integer>375</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>53</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0004.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>53</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0005.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>53.5</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0006.png</key>
		<dict>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>54</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0007.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>53.5</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0008.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>54</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0009.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>54</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0010.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>54.5</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0011.png</key>
		<dict>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>55</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0012.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>55</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0013.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>55</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_a_0014.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>56</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_eff_b_0001.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>m01_eff_b_0002.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>m01_eff_b_0003.png</key>
		<dict>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>m01_eff_b_0004.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>m01_eff_b_0005.png</key>
		<dict>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>m01_wait_0001.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0002.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0003.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0004.png</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0005.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0006.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0007.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0008.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0009.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0010.png</key>
		<dict>
			<key>x</key>
			<integer>367</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0011.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_wait_0012.png</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<integer>212</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0001.png</key>
		<dict>
			<key>x</key>
			<integer>330</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0002.png</key>
		<dict>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0003.png</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0004.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0005.png</key>
		<dict>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0006.png</key>
		<dict>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0007.png</key>
		<dict>
			<key>x</key>
			<integer>185</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0008.png</key>
		<dict>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0009.png</key>
		<dict>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0010.png</key>
		<dict>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0011.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>m01_walk_0012.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>