<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_skill_plus_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,874},{80,80}}</string>
                <key>offset</key>
                <string>{395,132}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_plus_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,874},{80,80}}</string>
                <key>offset</key>
                <string>{395,132}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_plus_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{80,80}}</string>
                <key>offset</key>
                <string>{395,132}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_reset_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,722},{226,76}}</string>
                <key>offset</key>
                <string>{219,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_reset_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,644},{226,76}}</string>
                <key>offset</key>
                <string>{219,281}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_reset_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,874},{226,76}}</string>
                <key>offset</key>
                <string>{219,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_skill_exit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,874},{80,78}}</string>
                <key>offset</key>
                <string>{437,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_skill_exit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,874},{80,78}}</string>
                <key>offset</key>
                <string>{437,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>speech_bubble_gem_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{586,228}}</string>
                <key>offset</key>
                <string>{-183,202}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>unit_upgrade_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>upgrade_equip_02_0-hd.png</string>
        </dict>
    </dict>
</plist>
