<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_achievements_shop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,894},{104,78}}</string>
                <key>offset</key>
                <string>{188,277}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_achievements_shop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,810},{104,78}}</string>
                <key>offset</key>
                <string>{188,277}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_battle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,182},{224,70}}</string>
                <key>offset</key>
                <string>{366,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_battle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,106},{224,70}}</string>
                <key>offset</key>
                <string>{364,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_buy_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,634},{140,66}}</string>
                <key>offset</key>
                <string>{394,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_buy_gem_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,554},{148,142}}</string>
                <key>offset</key>
                <string>{-312,-123}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_buy_gem_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,106},{148,142}}</string>
                <key>offset</key>
                <string>{-312,-123}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_buy_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,688},{140,66}}</string>
                <key>offset</key>
                <string>{394,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_enchant_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,550},{140,66}}</string>
                <key>offset</key>
                <string>{168,-80}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_enchant_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,544},{140,66}}</string>
                <key>offset</key>
                <string>{168,-80}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_gem_menu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,492},{104,78}}</string>
                <key>offset</key>
                <string>{118,-159}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_gem_menu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,408},{104,78}}</string>
                <key>offset</key>
                <string>{118,-159}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_hero_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,410},{190,70}}</string>
                <key>offset</key>
                <string>{382,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_hero_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,402},{190,70}}</string>
                <key>offset</key>
                <string>{380,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_main_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,486},{182,70}}</string>
                <key>offset</key>
                <string>{-387,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_main_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{182,70}}</string>
                <key>offset</key>
                <string>{-385,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_map_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,426},{188,70}}</string>
                <key>offset</key>
                <string>{382,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_map_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,478},{188,70}}</string>
                <key>offset</key>
                <string>{380,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_more_slot_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,894},{100,100}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_more_slot_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,562},{100,100}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_move_to_gemshop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{200,66}}</string>
                <key>offset</key>
                <string>{364,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_move_to_gemshop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,254},{200,66}}</string>
                <key>offset</key>
                <string>{364,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_ranking_shop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,756},{104,78}}</string>
                <key>offset</key>
                <string>{77,277}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_ranking_shop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,748},{104,78}}</string>
                <key>offset</key>
                <string>{77,277}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sell_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,622},{140,66}}</string>
                <key>offset</key>
                <string>{394,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sell_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,562},{140,66}}</string>
                <key>offset</key>
                <string>{394,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_shop01_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,326},{190,70}}</string>
                <key>offset</key>
                <string>{383,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_shop01_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{190,70}}</string>
                <key>offset</key>
                <string>{381,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_shop02_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,274},{190,70}}</string>
                <key>offset</key>
                <string>{-381,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_shop02_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,258},{190,70}}</string>
                <key>offset</key>
                <string>{-379,279}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_page_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,488},{120,56}}</string>
                <key>offset</key>
                <string>{-100,24}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_skill_page_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,426},{120,56}}</string>
                <key>offset</key>
                <string>{-100,24}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_accessory_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,928},{68,68}}</string>
                <key>offset</key>
                <string>{-432,-5}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_accessory_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,928},{68,68}}</string>
                <key>offset</key>
                <string>{-432,-5}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,760},{98,232}}</string>
                <key>offset</key>
                <string>{-431,-2}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_costume_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,854},{68,68}}</string>
                <key>offset</key>
                <string>{-432,67}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_costume_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,840},{68,68}}</string>
                <key>offset</key>
                <string>{-432,67}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,780},{76,76}}</string>
                <key>offset</key>
                <string>{-432,-162}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,326},{76,76}}</string>
                <key>offset</key>
                <string>{-432,-162}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_weapon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,780},{68,68}}</string>
                <key>offset</key>
                <string>{-432,-77}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_sort_weapon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,766},{68,68}}</string>
                <key>offset</key>
                <string>{-432,-77}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_ui_battle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,182},{224,70}}</string>
                <key>offset</key>
                <string>{366,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_ui_battle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,106},{224,70}}</string>
                <key>offset</key>
                <string>{364,280}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unequip_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,648},{140,66}}</string>
                <key>offset</key>
                <string>{168,-9}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unequip_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,576},{140,66}}</string>
                <key>offset</key>
                <string>{168,-9}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,350},{190,70}}</string>
                <key>offset</key>
                <string>{-382,281}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_unit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,334},{190,70}}</string>
                <key>offset</key>
                <string>{-380,281}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_upgrade_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{236,72}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_upgrade_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{236,72}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btn_upgrade_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,106},{236,72}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>gem_shop_exit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,894},{80,78}}</string>
                <key>offset</key>
                <string>{430,271}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>gem_shop_exit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,802},{80,78}}</string>
                <key>offset</key>
                <string>{430,271}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>graph_darkdog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,720},{80,84}}</string>
                <key>offset</key>
                <string>{240,180}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>graph_darkdog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,216},{80,84}}</string>
                <key>offset</key>
                <string>{240,180}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>graph_darkdog_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{80,84}}</string>
                <key>offset</key>
                <string>{240,180}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_slot_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,702},{98,308}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_slot_costume.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{310,98}}</string>
                <key>offset</key>
                <string>{-194,-61}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_slot_costume_darkdog.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{310,98}}</string>
                <key>offset</key>
                <string>{-194,-61}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_slot_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{102,102}}</string>
                <key>offset</key>
                <string>{-410,149}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hero_slot_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{98,308}}</string>
                <key>offset</key>
                <string>{-410,44}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,62},{42,42}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem1_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,744},{132,30}}</string>
                <key>offset</key>
                <string>{-312,-227}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem1_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,720},{132,30}}</string>
                <key>offset</key>
                <string>{-100,-227}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem1_type03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,730},{132,30}}</string>
                <key>offset</key>
                <string>{111,-227}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem1_type04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,694},{140,30}}</string>
                <key>offset</key>
                <string>{324,-227}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,706},{134,36}}</string>
                <key>offset</key>
                <string>{-312,-175}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,702},{134,36}}</string>
                <key>offset</key>
                <string>{-100,-175}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem_type03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{158,36}}</string>
                <key>offset</key>
                <string>{111,-175}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_gem_type04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,502},{158,36}}</string>
                <key>offset</key>
                <string>{324,-175}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_level_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,184},{216,84}}</string>
                <key>offset</key>
                <string>{36,-23}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>icon_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,766},{96,30}}</string>
                <key>offset</key>
                <string>{-414,100}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>inven_scroll_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,118}}</string>
                <key>offset</key>
                <string>{-296,-261}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>msg_needmoregold.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,616},{140,66}}</string>
                <key>offset</key>
                <string>{394,34}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_inven_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,32},{46,24}}</string>
                <key>offset</key>
                <string>{-452,-304}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_inven_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{46,24}}</string>
                <key>offset</key>
                <string>{454,-304}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_shop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,32},{46,24}}</string>
                <key>offset</key>
                <string>{-452,-114}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_shop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{46,24}}</string>
                <key>offset</key>
                <string>{454,-114}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_unit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,134},{24,18}}</string>
                <key>offset</key>
                <string>{442,-286}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>scroll_unit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,110},{24,18}}</string>
                <key>offset</key>
                <string>{442,-135}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,158},{16,22}}</string>
                <key>offset</key>
                <string>{-426,100}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,216},{10,22}}</string>
                <key>offset</key>
                <string>{-428,100}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,210},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,184},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,212},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,190},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,186},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,164},{16,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,136},{16,22}}</string>
                <key>offset</key>
                <string>{-427,100}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>skill_level_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,216},{14,20}}</string>
                <key>offset</key>
                <string>{-427,99}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>unit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,306},{114,114}}</string>
                <key>offset</key>
                <string>{-414,171}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>unit_status_gauge_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,142},{4,10}}</string>
                <key>offset</key>
                <string>{205,187}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>unit_status_gauge_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,126},{4,10}}</string>
                <key>offset</key>
                <string>{205,187}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>unit_upgrade_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,110},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>upgrade_equip_02_1-hd.png</string>
        </dict>
    </dict>
</plist>
