<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eft_enemy_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,478},{18,20}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,150},{30,36}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,189},{36,42}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{38,46}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,455},{42,54}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,316},{48,58}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,187},{54,58}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,128},{56,58}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,394},{64,60}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,333},{68,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,211},{70,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,272},{68,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,415},{74,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,307},{74,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,246},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,128},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,150},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>eft_enemy_base_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,417},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>enemy_base_broken_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1},{198,148}}</string>
                <key>offset</key>
                <string>{141,42}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>enemy_base_broken_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{108,86}}</string>
                <key>offset</key>
                <string>{186,-9}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>enemy_base_damaged_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,189},{160,126}}</string>
                <key>offset</key>
                <string>{123,40}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>enemy_base_damaged_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{170,210}}</string>
                <key>offset</key>
                <string>{155,55}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>enemy_base_full_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{134,126}}</string>
                <key>offset</key>
                <string>{136,40}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>enemy_base_full_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,212},{180,204}}</string>
                <key>offset</key>
                <string>{150,58}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>enemybase.png</string>
        </dict>
    </dict>
</plist>
