<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,174},{126,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>stage_clear_blackback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>stage_clear_circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{172,172}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,174},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_circle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,214},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>stage_clear_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,347},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>stage_clear_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>stage_clear_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,285},{96,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,143},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,74},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1},{62,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,72},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,145},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,358},{56,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,287},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,287},{56,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stage_clear_text_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,214},{62,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>stage_clear_texture.png</string>
        </dict>
    </dict>
</plist>
