<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_stage_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,150},{50,74}}</string>
                <key>offset</key>
                <string>{-214,-10}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_stage_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{50,74}}</string>
                <key>offset</key>
                <string>{-214,-10}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_stage_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,256},{50,74}}</string>
                <key>offset</key>
                <string>{213,-10}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_stage_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,256},{50,74}}</string>
                <key>offset</key>
                <string>{213,-10}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_small_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,69},{14,14}}</string>
                <key>offset</key>
                <string>{-142,81}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_small_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,42},{14,26}}</string>
                <key>offset</key>
                <string>{-142,74}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_small_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{14,40}}</string>
                <key>offset</key>
                <string>{-142,68}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_stage_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{62,48}}</string>
                <key>offset</key>
                <string>{-164,67}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>num_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{388,204}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,461},{114,44}}</string>
                <key>offset</key>
                <string>{-183,-137}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_back_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,461},{114,44}}</string>
                <key>offset</key>
                <string>{-183,-137}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_board_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{480,24}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_board_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{14,254}}</string>
                <key>offset</key>
                <string>{-233,-14}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_board_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,84},{12,258}}</string>
                <key>offset</key>
                <string>{234,-13}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_board_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,48}}</string>
                <key>offset</key>
                <string>{0,136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_map_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,461},{12,12}}</string>
                <key>offset</key>
                <string>{-37,-150}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>st_sel_point_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,142},{72,60}}</string>
                <key>offset</key>
                <string>{-164,68}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,75},{120,66}}</string>
                <key>offset</key>
                <string>{111,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,142},{120,66}}</string>
                <key>offset</key>
                <string>{111,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,75},{120,66}}</string>
                <key>offset</key>
                <string>{111,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,410},{120,66}}</string>
                <key>offset</key>
                <string>{111,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,343},{120,66}}</string>
                <key>offset</key>
                <string>{111,127}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>stage_select__back.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,477},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>stage_select.png</string>
        </dict>
    </dict>
</plist>
