<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_achievements_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,432},{82,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>btn_achievements_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,478},{82,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>btn_facebook_login_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,432},{160,74}}</string>
                <key>offset</key>
                <string>{-11,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_facebook_login_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,418},{160,74}}</string>
                <key>offset</key>
                <string>{-11,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_facebook_logout_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,234},{160,74}}</string>
                <key>offset</key>
                <string>{-11,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_facebook_logout_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,156},{160,74}}</string>
                <key>offset</key>
                <string>{-11,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_left_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,556},{46,56}}</string>
                <key>offset</key>
                <string>{-151,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,496},{46,56}}</string>
                <key>offset</key>
                <string>{-151,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,266},{46,56}}</string>
                <key>offset</key>
                <string>{-151,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_no_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,492},{100,56}}</string>
                <key>offset</key>
                <string>{94,-58}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_no_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,456},{100,56}}</string>
                <key>offset</key>
                <string>{94,-58}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_ok_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,516},{100,56}}</string>
                <key>offset</key>
                <string>{149,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_ok_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{100,56}}</string>
                <key>offset</key>
                <string>{149,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_ok_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,510},{100,56}}</string>
                <key>offset</key>
                <string>{149,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_right_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,206},{46,56}}</string>
                <key>offset</key>
                <string>{-45,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,146},{46,56}}</string>
                <key>offset</key>
                <string>{-45,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{46,56}}</string>
                <key>offset</key>
                <string>{-45,-84}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_yes_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{100,56}}</string>
                <key>offset</key>
                <string>{-12,-58}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_msgbox_yes_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,639},{100,56}}</string>
                <key>offset</key>
                <string>{-12,-58}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_option_help_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,432},{104,158}}</string>
                <key>offset</key>
                <string>{163,41}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_option_help_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,496},{104,136}}</string>
                <key>offset</key>
                <string>{163,30}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_slot_delete_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{100,46}}</string>
                <key>offset</key>
                <string>{184,43}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_slot_delete_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,552},{100,46}}</string>
                <key>offset</key>
                <string>{183,44}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_slot_start_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,434},{108,54}}</string>
                <key>offset</key>
                <string>{186,91}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_slot_start_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,376},{108,54}}</string>
                <key>offset</key>
                <string>{186,92}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sub_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,78},{160,74}}</string>
                <key>offset</key>
                <string>{152,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_survivalranking_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,550},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>btn_survivalranking_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,493},{82,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>btn_vibration_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,320},{138,52}}</string>
                <key>offset</key>
                <string>{156,-107}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_vibration_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,260},{140,56}}</string>
                <key>offset</key>
                <string>{149,-105}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_voldown_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,500},{40,40}}</string>
                <key>offset</key>
                <string>{-65,51}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_voldown_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,456},{40,40}}</string>
                <key>offset</key>
                <string>{-65,51}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_volup_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,456},{40,40}}</string>
                <key>offset</key>
                <string>{80,51}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_volup_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,616},{40,40}}</string>
                <key>offset</key>
                <string>{80,51}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>data_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{294,94}}</string>
                <key>offset</key>
                <string>{71,72}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_easy_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,607},{94,94}}</string>
                <key>offset</key>
                <string>{-147,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_easy_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,594},{94,94}}</string>
                <key>offset</key>
                <string>{-147,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_hard_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,570},{94,94}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_hard_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{94,94}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_hell_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,604},{94,94}}</string>
                <key>offset</key>
                <string>{149,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_hell_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,602},{94,94}}</string>
                <key>offset</key>
                <string>{149,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_normal_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,570},{94,94}}</string>
                <key>offset</key>
                <string>{-48,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_normal_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,541},{94,94}}</string>
                <key>offset</key>
                <string>{-48,7}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>msg_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,238},{316,190}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>msg_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,254}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>msg_select_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,12},{342,44}}</string>
                <key>offset</key>
                <string>{48,137}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>paper_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,66},{330,168}}</string>
                <key>offset</key>
                <string>{69,30}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{344,6}}</string>
                <key>offset</key>
                <string>{68,157}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_info_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,118},{64,24}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_info_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{294,94}}</string>
                <key>offset</key>
                <string>{71,72}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_info_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,90},{72,24}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_info_hell.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,62},{58,24}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>slot_info_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,576},{96,24}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tutorial_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,60},{340,2}}</string>
                <key>offset</key>
                <string>{70,114}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tutorial_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,40},{162,34}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tutorial_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{162,34}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tutorial_darkdog.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,418},{84,56}}</string>
                <key>offset</key>
                <string>{192,80}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tutorial_paladog.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,636},{92,56}}</string>
                <key>offset</key>
                <string>{-47,79}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>txt_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,326},{246,44}}</string>
                <key>offset</key>
                <string>{48,136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>txt_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{240,40}}</string>
                <key>offset</key>
                <string>{71,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,268},{12,8}}</string>
                <key>offset</key>
                <string>{-32,39}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,252},{12,12}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,232},{12,16}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,208},{12,20}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,180},{12,24}}</string>
                <key>offset</key>
                <string>{30,47}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>vol_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,146},{12,30}}</string>
                <key>offset</key>
                <string>{46,50}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>option_msg_01.png</string>
        </dict>
    </dict>
</plist>
