<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eft_level_up_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,101}</string>
            </dict>
            <key>ui_levelup_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,197},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_levelup_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{480,50}}</string>
                <key>offset</key>
                <string>{0,-135}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_levelup_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{14,192}}</string>
                <key>offset</key>
                <string>{-233,-14}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_levelup_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1},{16,192}}</string>
                <key>offset</key>
                <string>{232,-14}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_levelup_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,78}}</string>
                <key>offset</key>
                <string>{0,121}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_levelup_top_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,137},{238,58}}</string>
                <key>offset</key>
                <string>{1,131}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_txt_levelup_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{216,42}}</string>
                <key>offset</key>
                <string>{0,-136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_txt_levelup_bottom_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,233},{202,36}}</string>
                <key>offset</key>
                <string>{-1,-136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_txt_levelup_bottom_eng.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,233},{202,36}}</string>
                <key>offset</key>
                <string>{-1,-136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ui_txt_levelup_bottom_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,233},{202,36}}</string>
                <key>offset</key>
                <string>{-1,-136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ui_level_up.png</string>
        </dict>
    </dict>
</plist>
