<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_burn_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,99},{11,11}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,83},{15,15}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,333},{29,27}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,427},{27,33}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,251},{35,43}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{35,43}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,257},{35,37}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,365},{27,35}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,151},{33,23}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_burn_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,259},{19,15}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,331},{30,33}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,435},{26,25}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{26,25}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,447},{24,27}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,419},{26,27}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,395},{26,27}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,401},{26,29}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,405},{28,29}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,363},{28,31}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,363},{28,31}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,395},{28,31}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{26,33}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{28,33}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,329},{30,33}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,295},{30,35}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{30,35}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,301},{32,35}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,203},{32,37}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,165},{32,37}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,295},{30,37}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,175},{32,39}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,301},{34,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,291},{34,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,259},{34,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,215},{36,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{36,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,285},{34,43}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{34,43}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,247},{36,43}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,215},{38,43}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,241},{38,43}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,205},{38,45}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,169},{40,45}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_die_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,123},{40,45}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>eff_enemydie_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,337},{32,25}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,209},{40,37}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,123},{46,47}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,171},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,165},{46,39}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{50,41}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,83},{58,39}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,43},{66,39}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{72,41}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,103},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{84,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{86,47}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,53},{88,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1},{90,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,53}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,479},{22,25}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,453},{22,25}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,435},{22,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,435},{22,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,359},{22,27}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,331},{22,27}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,435},{24,27}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,401},{26,29}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,423},{24,29}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,461},{26,29}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,461},{26,29}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,393},{26,29}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,387},{24,31}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{26,31}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,373},{28,31}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,363},{28,31}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,341},{28,31}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,331},{28,31}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>eff_enemydie_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,361},{28,31}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>eff_blend_02.png</string>
        </dict>
    </dict>
</plist>
