<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_aura2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,464},{108,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{110,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,402},{112,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,400},{114,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,367},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{120,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>eff_aura_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,308},{210,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>eff_aura_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{214,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>eff_aura_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{220,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>eff_aura_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{226,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>eff_aura_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{232,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>eff_aura_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{238,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>eff_blend_01.png</string>
        </dict>
    </dict>
</plist>
