<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,121},{11,13}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,97},{13,23}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,73},{17,23}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{23,29}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,441},{25,29}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,392},{25,33}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,392},{25,33}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,356},{25,35}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,356},{25,35}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_freeze_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,110},{25,35}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>eff_hit_01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{62,42}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,364},{116,76}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{158,104}}</string>
                <key>offset</key>
                <string>{16,-23}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{158,104}}</string>
                <key>offset</key>
                <string>{16,-23}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,110},{44,68}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{70,108}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,211},{100,152}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_hit_02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{100,152}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>eff_u09_att1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,53},{22,19}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,471},{28,25}}</string>
                <key>offset</key>
                <string>{37,-15}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,324},{36,31}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,292},{38,31}}</string>
                <key>offset</key>
                <string>{42,-16}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,190},{30,43}}</string>
                <key>offset</key>
                <string>{48,-12}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,31},{20,21}}</string>
                <key>offset</key>
                <string>{46,-18}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,179},{44,31}}</string>
                <key>offset</key>
                <string>{43,-12}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,426},{58,47}}</string>
                <key>offset</key>
                <string>{51,-13}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,422},{72,49}}</string>
                <key>offset</key>
                <string>{57,-18}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,364},{80,57}}</string>
                <key>offset</key>
                <string>{62,-14}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,234},{52,57}}</string>
                <key>offset</key>
                <string>{76,-14}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
            <key>eff_u09_att2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,146},{34,43}}</string>
                <key>offset</key>
                <string>{79,-10}</string>
                <key>sourceSize</key>
                <string>{250,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>eff_blend_03.png</string>
        </dict>
    </dict>
</plist>
