<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u07_att2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,712},{84,92}}</string>
                <key>offset</key>
                <string>{20,-35}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,412},{84,92}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,504},{82,90}}</string>
                <key>offset</key>
                <string>{19,-35}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,860},{78,86}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,778},{78,82}}</string>
                <key>offset</key>
                <string>{18,-39}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,946},{78,78}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,890},{78,76}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,780},{84,82}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,570},{100,88}}</string>
                <key>offset</key>
                <string>{35,-38}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,126},{110,90}}</string>
                <key>offset</key>
                <string>{39,-37}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,446},{112,96}}</string>
                <key>offset</key>
                <string>{40,-31}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{136,102}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,100}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,332},{84,98}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,430},{80,98}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_att2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,226},{86,92}}</string>
                <key>offset</key>
                <string>{20,-35}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,318},{86,94}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,130},{86,96}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,238},{98,94}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,120},{102,88}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,658},{100,82}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,740},{100,72}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,504},{102,66}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,816},{100,74}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,594},{96,92}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,804},{92,86}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,686},{96,66}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,752},{100,64}}</string>
                <key>offset</key>
                <string>{-21,-49}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,282},{102,70}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,812},{100,74}}</string>
                <key>offset</key>
                <string>{-21,-43}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,216},{102,66}}</string>
                <key>offset</key>
                <string>{-23,-47}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,862},{96,68}}</string>
                <key>offset</key>
                <string>{-22,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,688},{80,92}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,410},{76,94}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,352},{72,94}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,594},{74,94}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,528},{80,92}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,686},{82,92}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,504},{82,90}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,352},{90,92}}</string>
                <key>offset</key>
                <string>{18,-29}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,594},{92,92}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,620},{88,92}}</string>
                <key>offset</key>
                <string>{18,-29}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,504},{84,90}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u07_walk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,216},{82,92}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,914},{48,56}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,742},{50,56}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,686},{50,56}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,970},{46,54}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,242},{40,54}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,374},{42,54}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,930},{42,54}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,686},{42,56}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,320},{40,54}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,890},{64,56}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,446},{74,58}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,352},{78,58}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{80,60}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,154},{80,58}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,886},{78,62}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,890},{76,62}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,444},{74,60}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,966},{72,58}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,444},{68,60}}</string>
                <key>offset</key>
                <string>{12,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_att1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,626},{48,60}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,966},{50,58}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,120},{54,60}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,94},{60,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,890},{66,56}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,230},{72,50}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,180},{78,50}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,952},{78,50}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,948},{72,50}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,308},{72,44}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,280},{78,40}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,986},{76,38}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,206},{82,36}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,170},{90,36}}</string>
                <key>offset</key>
                <string>{-16,-56}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,986},{96,38}}</string>
                <key>offset</key>
                <string>{-19,-53}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,986},{96,38}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,986},{98,38}}</string>
                <key>offset</key>
                <string>{-22,-61}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,874},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>u08_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,856},{46,58}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,566},{48,60}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,504},{46,62}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,798},{46,60}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,798},{48,58}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,916},{48,56}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,946},{46,56}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,242},{44,54}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,946},{44,56}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,930},{46,56}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,742},{46,56}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u08_walk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,858},{46,58}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>u09_att1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,130},{100,108}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,660},{110,108}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{130,112}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{136,112}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{136,112}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{136,112}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{136,112}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{136,112}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{130,110}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_att1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,322},{120,110}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,878},{116,108}}</string>
                <key>offset</key>
                <string>{-27,-24}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,652},{110,112}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,542},{108,118}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,212},{102,122}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,212},{98,120}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,544},{108,110}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,444},{112,100}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,654},{114,100}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{142,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{152,104}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,60},{152,60}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,64},{156,62}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{164,64}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,64},{160,66}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{164,64}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{166,60}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,212},{120,110}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,542},{116,110}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,334},{110,112}}</string>
                <key>offset</key>
                <string>{-21,-25}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,874},{106,112}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,332},{104,112}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,754},{102,112}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,102},{104,110}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,60},{108,110}}</string>
                <key>offset</key>
                <string>{-17,-24}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,764},{112,110}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,768},{116,110}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,432},{118,110}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>u09_walk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{120,110}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>u_03.png</string>
        </dict>
    </dict>
</plist>
