<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_achievements_shop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,306},{52,38}}</string>
                <key>offset</key>
                <string>{94,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_achievements_shop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,260},{52,38}}</string>
                <key>offset</key>
                <string>{94,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_battle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,348},{112,34}}</string>
                <key>offset</key>
                <string>{183,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_battle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,396},{112,34}}</string>
                <key>offset</key>
                <string>{182,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_buy_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,44},{70,34}}</string>
                <key>offset</key>
                <string>{197,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_buy_gem_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,330},{74,72}}</string>
                <key>offset</key>
                <string>{-156,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_buy_gem_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,330},{74,72}}</string>
                <key>offset</key>
                <string>{-156,-61}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_buy_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,44},{70,34}}</string>
                <key>offset</key>
                <string>{197,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_enchant_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{70,34}}</string>
                <key>offset</key>
                <string>{84,-40}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_enchant_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,44},{70,34}}</string>
                <key>offset</key>
                <string>{84,-40}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_gem_menu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,118},{52,40}}</string>
                <key>offset</key>
                <string>{59,-79}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_gem_menu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,446},{52,40}}</string>
                <key>offset</key>
                <string>{59,-79}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_hero_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,474},{94,34}}</string>
                <key>offset</key>
                <string>{191,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_hero_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,432},{94,34}}</string>
                <key>offset</key>
                <string>{190,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_main_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,440},{92,36}}</string>
                <key>offset</key>
                <string>{-194,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_main_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,396},{92,36}}</string>
                <key>offset</key>
                <string>{-193,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_map_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,342},{94,34}}</string>
                <key>offset</key>
                <string>{191,139}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_map_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,390},{94,34}}</string>
                <key>offset</key>
                <string>{190,139}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_more_slot_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,60},{50,50}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_more_slot_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{50,50}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_move_to_gemshop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,438},{100,34}}</string>
                <key>offset</key>
                <string>{182,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_move_to_gemshop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,300},{100,34}}</string>
                <key>offset</key>
                <string>{182,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_ranking_shop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,306},{52,38}}</string>
                <key>offset</key>
                <string>{39,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_ranking_shop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,260},{52,38}}</string>
                <key>offset</key>
                <string>{39,138}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sell_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{70,34}}</string>
                <key>offset</key>
                <string>{197,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sell_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{70,34}}</string>
                <key>offset</key>
                <string>{197,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_shop01_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,256},{96,36}}</string>
                <key>offset</key>
                <string>{191,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_shop01_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,212},{96,36}}</string>
                <key>offset</key>
                <string>{190,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_shop02_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,304},{96,36}}</string>
                <key>offset</key>
                <string>{-191,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_shop02_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,260},{96,36}}</string>
                <key>offset</key>
                <string>{-190,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_page_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,480},{60,28}}</string>
                <key>offset</key>
                <string>{-50,12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_page_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,480},{60,28}}</string>
                <key>offset</key>
                <string>{-50,12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_plus_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{40,40}}</string>
                <key>offset</key>
                <string>{198,66}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_plus_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,50},{40,40}}</string>
                <key>offset</key>
                <string>{198,66}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_plus_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{40,40}}</string>
                <key>offset</key>
                <string>{198,66}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_reset_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,116},{114,38}}</string>
                <key>offset</key>
                <string>{109,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_reset_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,166},{114,38}}</string>
                <key>offset</key>
                <string>{109,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_skill_reset_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,214},{114,38}}</string>
                <key>offset</key>
                <string>{109,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_accessory_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,128},{34,34}}</string>
                <key>offset</key>
                <string>{-216,-3}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_accessory_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,86},{34,34}}</string>
                <key>offset</key>
                <string>{-216,-3}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,330},{50,116}}</string>
                <key>offset</key>
                <string>{-215,-1}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_costume_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,44},{34,34}}</string>
                <key>offset</key>
                <string>{-216,33}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_costume_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{34,34}}</string>
                <key>offset</key>
                <string>{-216,33}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,166},{40,40}}</string>
                <key>offset</key>
                <string>{-216,-80}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,50},{40,40}}</string>
                <key>offset</key>
                <string>{-216,-80}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_weapon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,426},{34,34}}</string>
                <key>offset</key>
                <string>{-216,-39}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_sort_weapon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,384},{34,34}}</string>
                <key>offset</key>
                <string>{-216,-39}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_ui_battle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,348},{112,34}}</string>
                <key>offset</key>
                <string>{183,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_ui_battle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,396},{112,34}}</string>
                <key>offset</key>
                <string>{182,140}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_unequip_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{70,34}}</string>
                <key>offset</key>
                <string>{84,-4}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_unequip_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,114},{70,34}}</string>
                <key>offset</key>
                <string>{84,-4}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_unit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,206},{94,36}}</string>
                <key>offset</key>
                <string>{-191,141}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_unit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,162},{94,36}}</string>
                <key>offset</key>
                <string>{-190,141}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_upgrade_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,352},{118,36}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_upgrade_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,410},{118,36}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>btn_upgrade_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,410},{118,36}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gem_shop_exit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,268},{42,42}}</string>
                <key>offset</key>
                <string>{215,136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>gem_shop_exit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,218},{42,42}}</string>
                <key>offset</key>
                <string>{215,136}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>graph_darkdog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,396},{40,42}}</string>
                <key>offset</key>
                <string>{120,90}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>graph_darkdog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,398},{40,42}}</string>
                <key>offset</key>
                <string>{120,90}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>graph_darkdog_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,318},{40,42}}</string>
                <key>offset</key>
                <string>{120,90}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_skill_exit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,168},{42,42}}</string>
                <key>offset</key>
                <string>{218,139}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_skill_exit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,118},{42,42}}</string>
                <key>offset</key>
                <string>{218,139}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_slot_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,330},{50,156}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_slot_costume.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,454},{156,50}}</string>
                <key>offset</key>
                <string>{-97,-31}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_slot_costume_darkdog.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,454},{156,50}}</string>
                <key>offset</key>
                <string>{-97,-31}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_slot_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,454},{52,52}}</string>
                <key>offset</key>
                <string>{-205,74}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hero_slot_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{50,156}}</string>
                <key>offset</key>
                <string>{-205,22}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,368},{22,22}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem1_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,170},{66,16}}</string>
                <key>offset</key>
                <string>{-156,-113}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem1_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,494},{66,16}}</string>
                <key>offset</key>
                <string>{-50,-113}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem1_type03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,494},{66,16}}</string>
                <key>offset</key>
                <string>{56,-113}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem1_type04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{70,16}}</string>
                <key>offset</key>
                <string>{162,-113}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem_type01.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,86},{68,20}}</string>
                <key>offset</key>
                <string>{-156,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem_type02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,86},{68,20}}</string>
                <key>offset</key>
                <string>{-50,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem_type03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,484},{80,20}}</string>
                <key>offset</key>
                <string>{55,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_gem_type04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,368},{80,20}}</string>
                <key>offset</key>
                <string>{162,-87}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_level_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,398},{108,42}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>icon_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,86},{48,16}}</string>
                <key>offset</key>
                <string>{-207,50}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>inven_scroll_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,330},{168,60}}</string>
                <key>offset</key>
                <string>{-149,-130}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>msg_needmoregold.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,44},{70,34}}</string>
                <key>offset</key>
                <string>{197,17}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_inven_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,188},{24,14}}</string>
                <key>offset</key>
                <string>{-226,-151}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_inven_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,454},{24,14}}</string>
                <key>offset</key>
                <string>{227,-151}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_shop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,188},{24,14}}</string>
                <key>offset</key>
                <string>{-226,-56}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_shop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,454},{24,14}}</string>
                <key>offset</key>
                <string>{227,-56}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_unit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,98},{12,10}}</string>
                <key>offset</key>
                <string>{221,-143}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>scroll_unit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,476},{12,10}}</string>
                <key>offset</key>
                <string>{221,-67}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,98},{8,12}}</string>
                <key>offset</key>
                <string>{-213,50}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,98},{6,12}}</string>
                <key>offset</key>
                <string>{-214,50}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,170},{8,10}}</string>
                <key>offset</key>
                <string>{-213,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,188},{8,10}}</string>
                <key>offset</key>
                <string>{-213,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,170},{8,10}}</string>
                <key>offset</key>
                <string>{-213,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,486},{8,10}}</string>
                <key>offset</key>
                <string>{-213,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,468},{8,10}}</string>
                <key>offset</key>
                <string>{-214,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,98},{8,10}}</string>
                <key>offset</key>
                <string>{-213,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,98},{8,12}}</string>
                <key>offset</key>
                <string>{-213,50}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>skill_level_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,476},{8,10}}</string>
                <key>offset</key>
                <string>{-214,49}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>unit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,448},{58,58}}</string>
                <key>offset</key>
                <string>{-207,86}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>unit_status_gauge_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,352},{2,6}}</string>
                <key>offset</key>
                <string>{103,94}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>unit_status_gauge_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,352},{2,6}}</string>
                <key>offset</key>
                <string>{103,94}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>unit_upgrade_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>unit_upgrade_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,98},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>upgrade_equip_02.png</string>
        </dict>
    </dict>
</plist>
